/* .chatArea{
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
}

.wholeChat{
    height: 50vh;
    width: 10vw;
} */

.listContainer{
    margin-left: 5px;
    padding-left: 0;
    max-width: 200px;
    min-width: 150px;
    /* max-width: 10vw; */
    /* height: 50vh;
    max-width: 200px;
    min-width: 160px; */
    /* flex-basis: 20%; */
}

.listCard{
    height: 50vh;
    overflow-y: auto;
}
